@charset "utf-8";
    
    .container {
        width: 1170px;
        padding: 0 15px;
        margin: 0 auto;
     }
  

    .top-wrapper {
        padding: 180px 0px 100px 0px;
        background-color: rgb(220, 193, 159);
        background-size: cover;
        color: white;
        text-align: center;
    }
  
    .top-wrapper h1 {
      font-size: 45px;
      letter-spacing: 5px;
    }
   
   